/* 
=======================================================================
templates css 
=======================================================================
 */

html, body {
  margin: 0;
  height: 100%;
}

.app-content {
  display: flex;
  height: 100%;
  width: 100%;
}

.topnav {
  position: sticky;
  top: 0;
  font-family: "Press Start 2P", system-ui;
  background-color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  z-index: 99;
}

@keyframes change-bg {
  from {
    background-color: black;
  }

  to {
    background-color: white;
  }
}

.topnav a {
  float: left;
  color: white;
  cursor: default;
  font-size: 10px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: black;
  
}

.topnav a:hover {
  animation-name: change-bg;
  animation-duration: 250ms;
  animation-fill-mode: forwards; 
  color: black;
}

.topnav a.active {
  background-color: white;
  color: black;
}

.topnav span {
  float: right;
  margin-top: 10px;
  margin-right: 3px;
  color: white;
  font-size: 30px;
}

/* 
=======================================================================
components css 
=======================================================================
 */

.signup {
  position: relative;
  display: flex;
  height: 100%;
  width: 50%;
  left: 25%;
  align-items: center;
  justify-content: center;
}

.signup form {
  height: 90%;
  width: 100%;
  left: 0%;
}

.signup form label {
  position: relative;
  font-family: "Press Start 2P", system-ui;
  font-size: 15px;
  width: 100%;
}

.signup form ul {
	padding-inline-start: 0px;
}

.signup form input {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 5px;
  font-family: "Press Start 2P", system-ui;
  transition: ease-in-out .3s;
}

.signup form input:hover, form input:focus {
  border: 4px solid black;
}

.signup form button {
  position: relative;
  width: max(15vw, 200px);
  top: 0;
  height: 50px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 10px;
  font-family: "Press Start 2P", system-ui;
  font-size: min(3vw, 20px);
  transition: ease .5s;
}

.signup form button:hover, form button:focus {
  top: 5px;
  border: 4px solid white;
}

.sidebar {
  float: left;
  width: 25%;
  height: 85%;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.sidebar .user {
  font-family: "Press Start 2P", system-ui;
  width: 95%;
  height: 10%;
  margin: 10px;
}

.sidebar .user-panel {
  font-family: "Press Start 2P", system-ui;
  width: 90%;
  height: 10%;
  margin: 10px;
}

.sidebar .user-panel .title{
  font-family: "Press Start 2P", system-ui;
  margin: 0px;
}

.sidebar .user-panel span {
  font-family: "DotGothic16", sans-serif;
  margin: 2px;
  left: 20px;
}


.sidebar span {
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
}

.main-panel {
  display: flex;
  font-family: "Press Start 2P", system-ui;
  width: 70%;
  height: 85%;
  margin-top: 10px;
  margin-left: 5px;
  border: 2px solid black;
  border-radius: 10px;
}

.main-panel span {
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
}

.success-modal {
  display: block;
  position: fixed;
  left: 7.5%;
  top: 20vh;
  font-family: "Press Start 2P", system-ui;
  margin: 15%;
  padding: 20px;
  color: limegreen;
  border: 3px solid limegreen;
  border-radius: 2px;
  width: 60%;
  height: 10%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.error-modal {
  display: block;
  position: fixed;
  top: 18vh;
  left: 20vw;
  font-family: "Press Start 2P", system-ui;
  color: #ff073a;
  border: 3px solid #ff073a;
  border-radius: 2px;
  width: 60vw;
  height: 300px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
/*
=======================================================================================
templates css
=======================================================================================
*/

.welcome {
  height: 60%;
  width: 100%;
  align-items: center;
}
.welcome-panel {
  position: relative;
  font-family: "Press Start 2P", system-ui;
  margin: auto;
  margin-top: 50px;
  width: 60%;
  top: 0;
  height: 20%;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  transition: ease 1s;
}

@keyframes slideToLeft {
  from {
    left: -10%;
  }
  to {
    left: 0%;
  }
}

.welcome-panel span {
  position: relative;
  left: -10%;
  top: 30%;
  animation: slideToLeft 0.3s ease-out forwards; 
}

.welcome-panel:hover {
  top: 5px;
  border: 5px solid black;
}

.login-signup {
  width: 100%;
  height: 20%;
}

.login-signup button {
  position: relative;
  display: block;
  top: 0;
  height: 30px;
  width: 15%;
  min-width: 80px;
  margin: auto;
  margin-top: 30px;
  font-family: "Press Start 2P", system-ui;
  color: black;
  border: 1px 80% black;
  border-radius: 8px;
  align-items: center;
  transition: ease .5s;
}

.login-signup button:hover {
  top: -3px;
  border: 3px solid black;
  cursor: pointer;
}
