<div class="sidebar">
	<div class="user-panel">
		<div> members </div>
	</div>
</div>
<div class="main-panel">
	<div class="display">
		<div class="selected"></div>
		<div class="player">
		</div>
	</div>
	<div class="tracklist-scroller">
		<table class="tracklist">
			<thead>
				<tr class="tracklist_header">
					<th scope="col">check</th>
					<th scope="col">song</th>
					<th scope="col">artist</th>
					<th scope="col">album</th>
					<th scope="col">&#x25B6;&#xFE0E;</th>
				</tr>
			</thead>
			<tbody>
				<tr class="tracklist_item">
					<th scope"row">0</th>
					<td class="song_select"><input type="checkbox" id="row0" name="select_row"></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
