<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sharedlist</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/sharedlist.css">
    <link rel="icon" href="img/music.png" type="image/x-icon">
  </head>
  <body>
    <div class="topnav">
      <a data-page="home">home</a>
      <a data-page="playlists">playlists</a>
      <a data-page="profiles">profiles</a>
      <a data-page="settings">settings</a>
      <span>sharedlist</span>
    </div>
    <div id="app-content" class="app-content">
      <div class="welcome">
        <div class="welcome-panel">
          <span>welcome to sharedlist!</span>
        </div>	
        <div class="login-signup">
	      <button> login </button>
	      <button onclick="spawnSignup()"> signup </button>
        </div>
       </div>
     </div>
    <script src="js/sharedlist.js"></script>
 </body>
</html>
